// MAIN CONTENT
// FIRST SECTION}
body{
  position: relative;
  .widget {
    background-color: #611f69;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    bottom: 30px;
    right: 40px;
    border-radius: 4px;
    span {
      font-size: 2.1em;
    }
  }
}
main {
  width: 100vw;
  .hero {
    background-color: $slack-color;
    width: 100%;
    padding: 0 4vw;
    color: white;
    h1 {
      padding-top: 85px;
      font-size: 2.5em;
      line-height: 1.2em;
      text-align: center;
      font-weight: 650;
      padding-bottom: 10px;
      span {
        color: #ecb22e;
      }
    }
    p {
      text-align: center;
      font-weight: 200;
      padding-bottom: 50px;
      line-height: 1.5em;
    }
    &__links {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      a {
        height: 57px;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        font-weight: 600;
        background-color: whitesmoke;
        color: $slack-color2;

        &:nth-of-type(2) {
          margin-top: 10px;
          background-color: #4285f4;
          color: white;
          display: grid;
          grid-template-columns: 20% 80%;
          grid-template-rows: 100%;
          img {
            height: 85%;
            margin-left: 5px;
          }
        }
      }
    }
    &__image {
      width: 100%;
      margin-top: 8%;
      height: 350px;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
  
}
