.stories {
  background-color: #fefefe;
  &__main {
    padding-top: 35px;
    height: 600px;
    &--video {
      border-top-right-radius: 500px;
      border-bottom-right-radius: 500px;
      overflow: hidden;
      height: 200px;
      width: 95%;
    }
    &--text {
      margin-top: 80px;
      padding: 0 4vw;
      p {
        font-size: 1.3em;
        line-height: 1.4em;
        font-style: italic;
        font-weight: 200;
        padding-bottom: 25px;
      }
      div {
        display: flex;
        flex-direction: column;
        font-size: 1em;
        span {
          font-weight: bold;
          margin-bottom: 5px;
          &:nth-of-type(2) {
            font-weight: 400;
            padding-bottom: 25px;
          }
        }
      }
      a {
        font-size: 1.1em;
        line-height: 1.3em;
        color: #1264a3;
        i {
          margin-left: 5px;
        }
      }
    }
  }
  &__metatext {
    padding: 80px 4vw 20px 4vw;
    color: gray;
    text-align: center;
    line-height: 1.3em;
    font-size: 0.9em;
    padding-bottom: 20px;
  }
}
