.teams {
  padding-top: 45px;
  height: 785px;
  position: relative;
  z-index: -1;
  &__image {
    background-color: #37c5f0;
    height: 400px;
    width: 70%;
    border-top-right-radius: 500px;
    border-bottom-right-radius: 500px;

    img {
      width: 60%;
      margin-top: 5%;
      margin-left: 31%;
      height: 95%;
    }
  }
  &__text {
    padding: 0 4vw;
    h2 {
      font-size: 2em;
      padding-top: 35px;
      padding-bottom: 20px;
      font-weight: bold;
    }
    p {
      font-size: 1.1em;
      line-height: 1.5em;
      padding-bottom: 20px;
    }
    a {
      font-size: 1.1em;
      color: #1264a3;
    }
  }
}
