.agility {
  padding-top: 45px;
  height: 845px;
  position: relative;
  z-index: -1;
  &__image {
    background-color: #ecb22e;
    height: 400px;
    width: 70%;
    border-top-right-radius:500px;
    border-bottom-right-radius:500px;

    img {
      width: 60%;
      margin-top: 5%;
      margin-left: 32%;
      height: 95%;
    }
  }
  &__text {
    padding: 0 4%;
    h2 {
      font-size: 1.8em;
      padding-top: 35px;
      padding-bottom: 20px;
      font-weight: bold;
      line-height: 1.5em;
    }
    p {
      font-size: 1.1em;
      line-height: 1.5em;
      padding-bottom: 20px;
    }
    a {
      font-size: 1.1em;
      color: #1264a3;
    }
  }
}
